<app-menu></app-menu>

<ion-content  [fullscreen]="true">
  <app-header></app-header>  
  <!--Programar desde aqui: -->
  <ion-grid *ngIf="componentFlag">
    <ion-row>
      <ion-col>
        <div style="position: relative; " >
          <ion-searchbar debounce=500 (ionInput)="busqueda($event)"  [value]="dire_seleccion" placeholder="Ingrese dirección"></ion-searchbar>
          <div style="position: absolute; width: 100%; z-index: 999;">
            <ion-list lines="none" style="background-color: transparent;">
              <ion-item button *ngFor="let direccion of direcciones" (click)="seleccionar(direccion)">
                {{direccion.nombre}}
              </ion-item>
              <div style="text-align: center; background-color: transparent; position:s ; " >
                <ion-button class="btn" (click)="crearViaje()">Crear viaje</ion-button>
                <ion-button class="btn" (click)="borrarDireccion()">Borrar</ion-button>
              </div>
              
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div id="mapa-box" style="width: 100%; height: 73vh"></div>
  </ion-grid>
  <app-crear-viaje *ngIf="!componentFlag" destino="{{dire_seleccion}}" latitud="{{lat_seleccion}}" logintud="{{lng_seleccion}}"></app-crear-viaje>
  
</ion-content>

<app-toolbar></app-toolbar>